conda create -y -n DL_env python=3.10 
conda activate DL_env
# Python libraries:
pip install pyparsing==3.1.2 tensorflow==2.15.0 scikit-image==0.19.3 scikit-learn==1.2.2 scipy==1.11.4 imgaug==0.4.0 Ipython==7.34.0 keras==2.15.0 opencv-python==4.8.0.76 jupyter==1.0.0 numpy==1.25.2 h5py==3.9.0 ipyfilechooser==0.6.0 protobuf==3.20.3 stardist==0.8.5
conda install cudatoolkit
conda install cudnn
